<section class="bg-gray-100 dark:bg-black/50" id="contact">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <article class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
        <div class="grid content-center justify-items-center gap-4 text-center text-white lg:col-span-2 lg:justify-items-start lg:py-12 lg:text-start">
          <div>
            <h3 class="text-5xl">Contáctanos</h3>
            <p class="pt-5">
              Estamos aquí para ayudar. Haga preguntas sobre productos,
              informe problemas o deje comentarios.
            </p>
          </div>
          {% include "copyEmail.njk" %}
          <ul class="flex list-inside flex-col items-center lg:items-start">
            <li class="inline-flex items-center gap-1">
              <i class="ti ti-circle-check"></i>
              Solicitar una demostración
            </li>
            <li class="inline-flex items-center gap-1">
              <i class="ti ti-circle-check"></i>
              Descubra qué plan es el adecuado para su equipo
            </li>
            <li class="inline-flex items-center gap-1">
              <i class="ti ti-circle-check"></i>
              Obtenga ayuda para la incorporación
            </li>
          </ul>
          <div>
            <span class="inline-flex items-center gap-3 text-xl font-bold">
              {# <ManageIcons icon="PhoneFilled" />  #}
              {{ info.phone }}
            </span>
            <p>¿preguntas sobre el producto?</p>
            <address>Cuernavaca Morelos, Mexico CP 62100</address>
          </div>
        </div>

        <div class="rounded-lg p-8 shadow-lg lg:col-span-3 lg:p-12">
          <form
          id="form-contact"
            class="space-y-4"
            action="https://formsubmit.co/cf4613eefdedda49610cc78124d20ff1"
            method="POST"
          >
            <input
              type="hidden"
              name="_next"
              value="https://www.indotldesing.com/"
            />
            <input type="hidden" name="_captcha" value="false" />
            <input
              type="hidden"
              name="_subject"
              value="Contactame lo antes posible"
            />
            <div>
              <label class="sr-only" for="name">
                Nombre
              </label>
              <input
                class="block w-full rounded-md border-none bg-white/5 p-3 text-white ring-offset-0 focus:ring-transparent"
                placeholder="Nombre"
                type="text"
                id="name"
                name="firstname"
                autocomplete="off"
                required
              />
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="email">
                  Correo Electronico
                </label>
                <input
                  class="block w-full rounded-md border-none bg-white/5 p-3 text-white ring-offset-0 focus:ring-transparent"
                  placeholder="Correo Electronico"
                  type="email"
                  id="email"
                  name="email"
                  autocomplete="off"
                  required
                />
              </div>

              <div>
                <label class="sr-only" for="phone">
                  Numero de telefono
                </label>
                <input
                  class="block w-full rounded-md border-none bg-white/5 p-3 text-white ring-offset-0 focus:ring-transparent"
                  placeholder="Numero de telefono"
                  type="tel"
                  id="phone"
                  name="phone"
                  autocomplete="off"
                  required
                />
              </div>
            </div>

            <div>
              <label class="sr-only" for="message">
                Mensaje
              </label>

              <textarea
                class="block w-full resize-none rounded-md border-none bg-white/5 p-3 text-white ring-offset-0 focus:ring-transparent"
                placeholder="Mensaje"
                rows="8"
                id="message"
                name="messages"
                required
              ></textarea>
            </div>

            <div class="mt-4">
              <button
              id="button-submit"
                class="group relative h-12 w-full overflow-hidden rounded-[8px] border border-neutral-200 bg-transparent px-4 text-white sm:w-auto"
                type="submit"
              >
                <span class="relative inline-flex">
                  <span class="duration-700 [transition-delay:0.02s] group-hover:[transform:rotateX(360deg)]">
                    E
                  </span>
                  <span class="duration-700 [transition-delay:0.04s] group-hover:[transform:rotateX(360deg)]">
                    n
                  </span>
                  <span class="duration-700 [transition-delay:0.06s] group-hover:[transform:rotateX(360deg)]">
                    v
                  </span>
                  <span class="duration-700 [transition-delay:0.08s] group-hover:[transform:rotateX(360deg)]">
                    i
                  </span>
                  <span class="duration-700 [transition-delay:0.10s] group-hover:[transform:rotateX(360deg)]">
                    a
                  </span>
                  <span class="duration-700 [transition-delay:0.12s] group-hover:[transform:rotateX(360deg)]">
                    r
                  </span>
                  <span class="duration-700 [transition-delay:0.14s] group-hover:[transform:rotateX(360deg)]">
                    &nbsp;
                  </span>
                  <span class="duration-700 [transition-delay:0.16s] group-hover:[transform:rotateX(360deg)]">
                    m
                  </span>
                  <span class="duration-700 [transition-delay:0.18s] group-hover:[transform:rotateX(360deg)]">
                    e
                  </span>
                  <span class="duration-700 [transition-delay:0.20s] group-hover:[transform:rotateX(360deg)]">
                    n
                  </span>
                  <span class="duration-700 [transition-delay:0.22s] group-hover:[transform:rotateX(360deg)]">
                    s
                  </span>
                  <span class="duration-700 [transition-delay:0.24s] group-hover:[transform:rotateX(360deg)]">
                    a
                  </span>
                  <span class="duration-700 [transition-delay:0.26s] group-hover:[transform:rotateX(360deg)]">
                    j
                  </span>
                  <span class="duration-700 [transition-delay:0.28s] group-hover:[transform:rotateX(360deg)]">
                    e
                  </span>
                </span>
              </button>
            </div>
          </form>
        </div>
      </article>
    </div>
  </section>