    <p
      class="inline-flex w-fit cursor-pointer items-center justify-center gap-2 rounded-full border border-white/5 bg-emerald-100 px-3 text-black dark:bg-white/10 dark:text-white dark:hover:bg-white/40"
      id="copy-email"
      data-email="{{info.email}}"
    >
      <i class="ti ti-brand-gmail"></i>
      <span class="whitespace-nowrap text-base">{{info.email}}</span>
    </p>