<footer class="bg-white dark:bg-transparent">
  <div class="mx-auto max-w-screen-xl px-4 pb-8 pt-16 sm:px-6 lg:px-8 lg:pt-24">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 dark:text-white sm:text-5xl">
        Tu encargate de las ideas
      </h2>
      <p class="mx-auto mt-4 max-w-sm text-gray-500 dark:text-gray-400">
        y nosotros nos encargamos de hacerlas realidad.
      </p>
      <a
        href="#contact"
        class="mt-8 inline-block rounded-lg border border-white px-12 py-3 text-sm font-medium text-white outline-none
          hover:bg-black hover:text-white focus:outline-none focus:ring active:bg-black">
        Comencemos
      </a>
    </div>
    <div class="mt-16 flex justify-center border-t border-gray-100 pt-8 dark:border-zinc-800 lg:mt-24">
      <p class="w-fit text-xs text-gray-500 dark:text-gray-400">
        © 2023 Your Company, Inc. All rights reserved.
      </p>
    </div>
  </div>
</footer>