<nav class="absolute top-14 z-[2] flex w-full justify-center">
    <div class="relative rounded-full border border-white/10 bg-white/5 p-1">
        <div>
            <div class="absolute inset-0 rounded-full bg-zinc-800"></div>
            <div class="relative">
                <div class="absolute inset-y-0 h-full w-[91px] rounded-full bg-white/10"></div>
                <div class="absolute bottom-0 h-1/3 w-[91px] rounded-full bg-white opacity-20 blur-md"></div>
                <ul class="relative flex items-center gap-3">
                    <li>
                        <a href="/" class="text-shadow-sm inline-block px-3 py-1 text-xs text-white/75">
                            IndotlDesing
                        </a>
                    </li>
                    <li>
                        <a href="#categories" class="inline-block px-3 py-1 text-xs text-white/60 hover:text-white/75">
                            Categorias
                        </a>
                    </li>
                    <li>
                        <a href="#contact" class="inline-block px-3 py-1 text-xs text-white/60 hover:text-white/75">
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>